*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.body2{
    /* theme nuit */
    background-color: #02023d;
    color: #6f0505;
}

h1{
    text-align: center;
    animation: color alternate 1s;
}

@keyframes color{
    from{
        color:red;
    }
    to{
        color:blue;
    }
}

.theme{
    position:fixed;
    top: 40px;
    right : 90px ; 
    pointer-events: auto;

}

img{
    dislpay:none;
}

.stop{
    pointer-events: none;;
}